.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

__pycache__/
*.py[cod]
*$py.class


*.tar
*.zip
*.gz
*.7z

*.tar.gz
*.pth
*.pkl
*.ckpt
*.bin
*.onnx
.env

Images/
_workspace/
workspace/
script/*
!script/run.sh
!script/run_mementos_local.sh
tools/
output/
output_sum/
output_qwen/
output*/
.local_runs/
.env.local
.cache/
.hfd/
hfd.sh
grocery/

cookies.txt
output.rar
output_qwen.rar
*.rar

tasks/
